* text=auto

*.c text eol=crlf
*.h text eol=crlf
*.s text eol=crlf
*.txt text eol=crlf
*.md text eol=crlf
*.uvprojx text eol=crlf
*.uvoptx text eol=crlf
*.ini text eol=crlf
*.bat text eol=crlf

*.hex text eol=crlf
